<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.empty.prjname.web.sample.dao.SampleDao">
 
    <select id="selectSampleInfo" resultType="com.empty.prjname.web.sample.vo.SampleVo">
        select 
            id, name, age 
        from test
        order by id DESC 
        limit 50
    </select>
    
    <update id="updateTestAge">
        update test set age = age + 1
        where id = 1
    </update>
    
</mapper>

